* {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
}


/* Navbar Section */

.navebar {
    background-color: rgb(247, 255, 243);
}

.navebar {
    display: flex;
    justify-content: space-between;
}

.menu {

    display: flex;
    align-items: center;

}

.menuitems {
    /* margin-right: 0px; */
    list-style-type: none;
    cursor: pointer;
}


.menuitems span:hover {
    color: green;
}





.menuitems span {
    font-size: 17px;
    margin-right: 30px;
}

.support {
    list-style-type: none;
    cursor: pointer;
    color: green;
}

.support span {
    color: green;
    font-size: 17px;
    margin-right: 30px;
}

.support span:hover {
    color: gray;
}

.red-dot {
    height: 7px;
    width: 7px;
    top: 14%;
    right: 3%;
    position: absolute;
    background-color: #ff5757;
    border-radius: 50%;
}

.green-dot {
    top: 25%;
    right: 3%;
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #c1ff72;
    border-radius: 50%;

}

.img-container img {

    padding: 10px;
    height: 50px;
}

.img-container {
    position: relative;
}


/* Hero Section */

.herocontainer {
    position: relative;
}

.heroimagecontainer {
    background-color: black;
}

.heroimage {


    /*  this is where the magic happens:  */
    background-image: url("cover.JPG");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /* dimensions are important, ensure it is tall enough to scroll */
    height: 60vh;
    opacity: 0.3;

}



.herocontent-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herocontent {
    width: 50%;
}



.herocontent div {
    margin-bottom: 2vh;
}

.herocontent h1 {
    color: rgb(247, 255, 243);
}

.herocontent h1:hover {
    color: #47c117;
    cursor: pointer;
}

.herocontent {
    font-size: 25px;
}

.herounderline {

    margin: 0;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    width: 100px;
    height: 4px;
    background-color: #47c117;
}

.herotimestamp {

    /* margin-bottom: 30px; */

}

.herotimestamp p {
    color: rgb(247, 255, 243);
    font-size: x-large;
}


.herobutton {
    margin-top: 2vh;
    font-size: medium;
    background-color: transparent;
    border: none;
    border: 2px solid;
    padding: 15px;
    cursor: pointer;
    color: rgb(247, 255, 243);
}

.herobutton:hover {
    background-color: #47c117;
    border: none;
}


/* Map segment */

.map iframe {
    width: 100%;
    height: 80vh;

}


.map h1 {
    margin-left: 20%;
    text-align: right;
    margin-right: 20%;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
    border-right: 4px solid #47c117;
    ;
}

.map h1:hover {
    color: #47c117;
    cursor: pointer;
}

.category {
    display: flex;
    justify-content: space-evenly;
}

.category span {
    padding: 30px;
    font-size: 23px;
}

.category span:hover {
    color: #47c117;
    cursor: pointer;
}

.wrapperSubscribe {
    background-color: #273028;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 17px;

}

.contents {
    margin: auto;
    /* margin-top: 15%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 255, 243);

}


.articles {
    padding: 30px;
}





.articleheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heading {
    font-size: 2rem;
}

.articleimage {
    background-color: black;

    overflow: hidden;

}

.articleimage img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform .5s;

}

.articleimage img:hover {
    transform: scale(1.5);
    opacity: 0.5;
    cursor: pointer;
}


.postedon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.postedon i,
span {
    color: gray;
}

.readmore {
    font-size: larger;
    background-color: transparent;
    border: none;
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: black;
}

.readmore:hover {
    background-color: #47c117;
    border: none;
    transition: 500ms;
    color: white;

}

.tags {
    display: flex;
    color: #47c117;
}

.tags div {
    border: 2px solid lightgray;
    padding: 5px;
    margin-right: 10px;
    border-radius: 25px;
}

.headline h1:hover {
    color: #47c117;
    cursor: pointer;
}

.input-group-subscribe {
    margin-top: 17px;
    display: flex;
    align-items: center;
}

.input-subscribe {
    min-height: 50px;
    max-width: 300px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #47c117;
    background-color: transparent;
    box-sizing: border-box;
}

.button-subscribe {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    background-color: #47c117;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.button-subscribe:hover {
    background-color: #3ca413;
}

.input-subscribe:focus,
.input-subscribe:focus-visible {
    border-color: #3ca413;
    outline: none;
}


.burger-wrapper{
    display: none;
    padding: 20px;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #3ca413;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  .burger-menu{
    display: none;
    width: 100%;
    position: absolute;
    top: 10%;
    right: 0%;
    background-color: white;
    z-index: 1;
  }

  .burger-menu li{
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }



.burger-menu li:hover {
    background-color: #3ca413;
    color: white;
}


@media only screen and (max-width: 600px) {
    
}

@media only screen and (max-width: 800px) {
    .menu{
        display: none;
    }
    .burger-wrapper{
        display: block;
    }
    
}

@media only screen and (max-width: 1000px) {
    .herocontent {
        width: 80%;
    }
    
}